* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  color: #444444;
  padding-bottom: 20px;
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

.loader {
  // min-height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  p {
    margin-top: 2px;
    font-size: 14px;
  }
}
